{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/list_confirm_delete.css' %}">
{% endblock %}

{% block content %}
<section>

  <div class="page-header">
    <h1>Delete List?</h1>
  </div>
  <h2>Are you sure you want to delete {{ object.name }}?</h2>
  
  <form action="" method="POST" class="form">
    {% csrf_token %}
    <a 
      href="{% url 'lists_detail' list.id %}" 
      class="btn secondary"
    >
      Cancel
    </a>
    <button type="submit" class="btn danger">Yes - Delete!</button>
  </form>
</section>

{% endblock %}