{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}"/>
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<link rel="stylesheet" href="{% static 'css/mcdp.css' %}">
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
<script defer src="{% static 'js/list-detail.js' %}"></script>
{% endblock %}

{% block content %}

<section class="list-container">
  <div class="list-details">
    <div class="items-container">
  <section class="items">
    <div class="subsection-title">
      <h2>Grocery List</h2>
      <h3>Add an Item</h3>
    </div>
    <form
      action="{% url 'add_grocery' list.id %}" 
      method="post" 
      class="subsection-content"
    >
      {% csrf_token %}
      {{ grocery_form.as_p }}
      <button type="submit" class="btn submit">Add Grocery Item</button>
    </form>
    {% if list.grocery_set.all.count %}
    <table>
      <thead>
        <tr><th>Date</th><th>Item</th></tr>
      </thead>
      <tbody>
        {% for grocery in list.grocery_set.all %}
          <tr>
            <td>{{grocery.date}}</td>
            <td>{{grocery.item}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
			<div class="subsection-content">
        <p class="p">{{list.name}} has no items </p>
      </div>
    {% endif %}
  </div>
</section>

{% endblock %}