{% extends 'base.html' %}



{% block content %}

<section class="card-container">  
  {% for list in lists %}
    <div class="card">
    <a href="/lists/{{ list.id }}">
      <div class="card-content">
        <h2 class="card-title">{{ list.name }}</h2>
      </div>
        <div class="list-actions">
      <a href="{% url 'lists_update' list.id %}" class="btn warn">Edit</a>
      <a href="{% url 'lists_delete' list.id %}" class="btn danger">Delete</a>
    </div>
    </div>
  {% endfor %}
</section>

{% endblock %}