{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/3ec0e5129c.js" crossorigin="anonymous"></script>
  <link
    rel="shortcut icon"
    type="image/png"
    href="{% static 'images/GroceriesDesaided.png' %}"
  >
  <title>Groceries Desai-ded</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
  {% block head %}
  {% endblock %}
</head>
<body>
  <header>
    <div class="header-logo-container">
      <a href="/">
        <img class="header-logo"
          src="{% static 'images/header-logo.png' %}" 
          alt="The Groceries Desai-ded Logo"
        >
      </a>
    </div>
    <nav>
      <ul>
        {% if user.is_authenticated %}
          <li><a href="/lists">All Lists</a></li>
          <li><a href="{% url 'lists_create' %}">Add a List</a></li>
          <li><a href="{% url 'logout' %}">Log out</a></li>
        {% else %}
            <li><a href="{% url 'home' %}">Login</a></li>
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>