{% extends 'base.html' %}



{% block content %}

<section class="card-container">
  {% for list in lists %}
    <div class="card">
      <div class="card-content">
        <a href="/lists/{{ list.id }}">
          <h2 class="card-title">{{ list.name }}</h2>
        </a>
      </div>
    </div>
    <div class="cat-actions">
      <a href="{% url 'lists_update' list.id %}" class="btn warn">Edit</a>
      <a href="{% url 'lists_delete' list.id %}" class="btn danger">Delete</a>
    </div>
  {% endfor %}
</section>

{% endblock %}