.list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 55px;
  color: rgb(0,128,128);
}


.subsection-title > h2 {
  font-size: 55px;

}
.subsection-title h3 {
  font-size: 22px;
  margin-top: -20px;
}

.subsection-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#id_item {
  margin-left: 30px;
}

.subsection-content input {
  border-radius: 15px;
  border: 2px solid teal;
  color: teal
}

.subsection-content label {
  font-size: 15px;
}
.subsection-content {
  margin-left: center;
}
.edit-add input {
  border-radius: 10px;
  margin: 0px;
  border: teal solid 2px;
  width: 800px;
  color: teal
}
.edit-add label {
  padding: 0px;
  margin-left: 30px;
}
form {
  display : flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

label {
  color: teal;
}

table {
  padding: 0 40px;
  width: 100%;
  border-spacing: 0 20px;
}

th {
  text-align: left;
  padding: 6px 10px 0 0;
  font-weight: normal;
  vertical-align: top;
  font-size: var(--font-reg);
}

td {
  max-width: 60%;
  font-size: 15px;
}

td > * {
  width: 100%;
  padding: 2px 4px;
  font-size: var(--font-l);
}

td > textarea {
  height: calc(4 * var(--font-l) + 8px);
  font-family: inherit;
}

.btn {
  align-self: flex-end;
  margin-right: 40px;
}

.p {
  font-size: 20px;
  align-items: center;
  position: center;
}